body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  .main {
    display: flex;
    height: 100vh;
  }
  .sidebar {
    background-color: #121212;
    width: 340px;
    margin-right: 1rem;
  }
  .main-content {
    background-color: #121212;
    overflow: auto;
    border-radius: 1rem;
    padding: 0 1.5rem 0 1.5rem;
    flex: 1; /*Flex:1 is the property given to main content for consuming all the 
                                    remaining size that is left after fitting content in the other div
                                                          Mostly given to main content division*/
    margin-top: 0.5rem;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  .nav {
    background-color:#232323;
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    height: 80px;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem ;
  }
  .nav-option {
    line-height: 2rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
  }
  .nav-option:hover {
    opacity: 1;
  }
  .nav-option i {
    font-size: 1.25rem;
  }
  .nav-option a {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  .library {
    background-color:#121212;
    height:100%;
    margin-top: 0.75rem;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
  }
  .option {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }
  .lib-option img {
    padding-left: 1rem;
    padding-right: 0.5rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  .icons {
    font-size: 1.25rem;
    display: flex;
  }
  .icons i {
    opacity: 0.6;
    margin-right: 1rem;
  }
  .icons i:hover {
    opacity: 1;
  }
  .box {
    background-color: #232323;
    border-radius: 0.75rem;
    height: 7rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.75rem 1.25rem;
  }
  .p1 {
    font-size: 1rem;
    font-weight: 500;
  }
  .p2 {
    font-size: 0.85rem;
    opacity: 0.7;
  }
  .badge {
    background-color: white;
    border: none;
    border-radius: 100px;
    color: black;
    padding: 0.25rem;
    margin-bottom: 1rem;
  }
  .sticky-nav {
    z-index: 99;
    position: sticky;
    top: 0;
    background-color:#121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    height: 100px;
  }
  .head{
    padding-bottom: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: rgb(171, 145, 2);
    font-weight: 500;
  }
  .logomun{
    width: 100px;
    height: 100px;
   
  }
  .sticky-nav-button img{
    width: 100px;
    height: 100px;
    margin: 0.5rem;
  }
  .dark-badge {
    background-color: black;
    color: white;
  }
  
  @media (max-width: 1000px) {
    .hide {
      display: none;
    }
  }
  .card{
    background-color: #232323;
    width:200px;
    height: 200px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .card2{
    background-color: #232323;
    width: 250px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
  }
  .card-container {
    display: flex;
   flex-wrap: wrap;
  }
  .card-img {
    border-radius: 0.5rem;
    width: 100%;
    width: 200px;
    height: 150px;
  }
  .card-tittle {
    font-weight: 700;
  }
  .card-info {
    font-size: 1rem;
    opacity: 0.8;
  }
  .footer{
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .line{
      border: 1px solid white;
      width: 90%;
      height:0;
      opacity: 0.2;
  }
  .foot{
    background-color: black;
    bottom: 0;
    width: 850px;
    height: 4rem;
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
  }
  .foot-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    padding-right: 1rem;
     
  }
  .foot-icons{
    display: flex;
    font-size: 1.5rem;
    gap: 1.5rem;
    padding-left: 1rem;
    align-items: center;
  }
 